<!DOCTYPE html>
<html lang="en">

<head>
	<title>wekt0r's blog</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel='stylesheet' href="{% static 'blog/style.css'%}" type='text/css'/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div id="container">
		<div id="header">
			<a href="/blog/"><h1>wekt0r's blog</h1></a>
		</div>

		<div id="content">
			<div id="nav">
				<h3> Navigation </h3>
				<ul>
					<li><a class="selected" href="/">Home</a></li>
					<li><a class="selected" href="">About author</a></li>
					<li><a class="selected" href="/blog/">Blog</a></li>
				</ul>
			</div>

			<div id="main">
				{% block content %}
	   		{% endblock %}
			</div>
		</div>

		<div id="footer">
			<a class="selected" href="http://www.github.com/wekt0r">Github</a> |
			<a class="selected" href="http://www.linkedin.com/in/wiktorgarbarek">LinkedIn</a> </br>
			Copyright &copy; 2017 Wiktor Garbarek
		</div>

	</div>
</body>

</html>
